.rickshaw_legend {
	font-size: 12px;
  color: #797979;
	background: #CCCCCC;
	padding: 15px 20px; 
}
.rickshaw_legend:hover {
	z-index: 10;
}
.rickshaw_legend .swatch {
	width: 10px;
	height: 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
.rickshaw_legend .line {
	clear: both;
	line-height: 190%;
	padding-right: 15px;
  color: #57A341; 
  font-family: 'helvetica_neuebold';
  margin-top: -5px;
}

.rickshaw_legend .line .swatch {
	display: inline-block;
	margin-right: 3px;
	border-radius: 2px;
}
.rickshaw_legend .label {
	white-space: nowrap;
	display: inline;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
	font-weight: normal;
	line-height: normal;
	padding: 0;
	text-shadow: 0 0 1px #FFF;
}
.rickshaw_legend .line.disabled .action:hover,.rickshaw_legend .line .action:hover {
	opacity: 0.6;
}
.rickshaw_legend .action {
  margin-right: 0.2em;
  font-size: 14px;
  opacity: inherit;
  color: inherit;
  cursor: pointer;
  float: none;
}
.rickshaw_legend .line.disabled .action {
	opacity: 0.2;
}
.rickshaw_legend .line.disabled {
  color: #797979;
  font-family: 'helvetica_neuelight';
  line-height: 140%;
  margin-top: 0;
}
.rickshaw_legend .type_name {
  font-family: 'helvetica_neuebold';
  font-size: 11pt;
  margin-bottom: 10px;
}
.rickshaw_legend ul {
	list-style-type: none;
	padding: 0;
	margin: 2px;
	cursor: pointer;
}
.rickshaw_legend li {
	padding: 0 0 0 2px;
	min-width: 80px;
	white-space: nowrap;
}
.rickshaw_legend li:hover {
	background: rgba(151, 175, 140, 0.31);
	border-radius: 3px;
}
.rickshaw_legend li:active {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}
.openContainer{
  height: 10px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;

}
.openLeft{
  margin-left: auto;
  width: 100px;
  height: 20px;
  float: left;
  background-color: #e3e4e4;
  border-radius: 0 10 0 0;
}
.openCenter{
  width: 40px;
  height: 20px;
  float: left;
  border-radius: 10;
  background-color: #cccccc;
  text-align: center;
  font-size: 15pt;
}
.openRight{
  margin-right: auto;
  width: 100px;
  height: 20px;
  float: left;
  background-color: #e3e4e4;
  border-radius: 10 0 0 0;
}
.introText {
  font-size: 12px;
  color: #797979;
  background: #CCCCCC;
  padding: 5px 20px; 
}
.introText h4 {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 0;
}